.title{
    margin-top: 200px;
    margin-left: 635px;
    position: relative;
}
.uk-card.uk-card-default.uk-card-hover.uk-card-body{
    width: 350px;
    margin-top: 50px;
    margin-left: 500px;
    position: relative;
}
.img1{
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    border: 3px solid white;
}
.img2{
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    left: -15px;
    border: 3px solid white;
}
.number{
    font-size: 1rem;
    margin-left: 230px;
    position: relative;
    top: -67px;
}
.footer{
    background-color: lightgray;
    height: 50px;
    width: 350px;
    margin-left: 500px;
}
.far.fa-edit{
    font-size: 30px;
    padding: 7px;
    padding-left: 12px;
}
.far.fa-clock{
    font-size: 30px;
    padding: 7px;
    padding-left: 12px;
}
.far.fa-sticky-note{
    font-size: 30px;
    padding: 7px;
    padding-left: 12px;
}
.far.fa-trash-alt{
    font-size: 30px;
    padding: 7px;
    padding-left: 150px;
}
.main{
    width: 500px;
}
.main_main{
    width: 250px;
    position: relative;
    margin-left: 800px;
    top: -760px;
    border-right:grey solid 1px;
}